<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h2>{{ contentHeader}}</h2>
        <p>{{ paragraph}}</p>
        <a href="{{ link }}">About us</a>
    </body>
</html>